*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    background-image: url('../imagem.jpg');
    background-size: cover;
}

div #box-inicio{
    margin-top: 30px;
    border-radius: 25px;
}

div #box-geral{
    margin-top: 200px;
    border-radius: 25px;
    color: white;
}

label{
    color: white;
}

.btn{         
    background-image: linear-gradient(to right, #EC6F66 0%, #F3A183  51%, #EC6F66  100%);
    margin: 10px;
    padding: 50px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 520px;
}

.btn-grad:hover {
background-position: right center;
color: #fff;
text-decoration: none;
}
