*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 47%, rgba(9,9,121,1) 89%);
}

div #box-inicio{
    margin-top: 30px;
    border-radius: 25px;
}

div #box-geral{
    margin-top: 200px;
    border-radius: 25px;
    color: white;
}


